.Mapa{
    position: absolute;
    left: 524px;
    top: 100px;
    margin-left: auto;
    margin-top: auto;
}
#Contprincipal{
    position: relative;
    
}
img{
    width: 444px;
    height: 423px;
    position: relative;
}
.arreglar{
    top: 100px;
    width: 204px!important;
    height: 203px!important;
}

.temario{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1000px!important;
}
.Modulos{
    width: 400px;
}
