.seccion-formulario1 {
    width: 500px!important;
    border-radius: 5%;
    border-color: #E9E9E9!important;
    background-color:  #E9E9E9!important;
    position: relative;
}

input, textarea {
    border: solid 2px #000000;
    border-radius: 10px;
}
